<div class="jumbotron">

	<center>
		<h1>Welcome to the wrong turn hahaaahahaaa!</h1>

		<img src="http://stevegarufi.com/teenagers7.jpg">
		<br>

		<%= link_to "Check out our Donuts!", donuts_path, class: "btn btn-default" %>
	</center>
</div>